*{
    background-color: lightgreen;
    color: black;
    padding: 10px;
    size:auto;
    border-radius: 15px;
    text-align: center;

}
input:hover {
    background-color: rgb(135, 196, 135);
}
textarea:hover {
    background-color: rgb(135, 196, 135);
}
input{
    border-radius: 15px;
    background-color:rgb(167, 243, 167);
}
select{
    border-radius: 15px;
    background-color:rgb(167, 243, 167);
}
select:hover {
    background-color: rgb(135, 196, 135);
}
textarea{
    border-radius: 15px;
    background-color:rgb(167, 243, 167);
}
button:hover {
    background-color: rgb(135, 196, 135);
}
button{
    border-radius: 15px;
    background-color:rgb(167, 243, 167);
}