*{
    
    box-sizing: border-box;
}

@media screen and (min-width: 700px) {
    .flex-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 10px;
        margin: auto;
        font-size:x-large;
    }
}
    
    @media screen and (max-width: 699px) {
        .flex-container{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 10px;
            margin: auto;
            font-size:x-small;
    }
}
h2{
    background-color: lightgreen;
    border-radius: 10px;
    color: darkolivegreen;
}
ul {
    margin-left: 0;
    padding: 0;
}

ul li {
    position: relative;
    padding: 10px;
    background: lightgreen;
    font-size: 25px;
    user-select: none; 
    border-radius: 10px;
    margin-top: 10px;
}

ul li:nth-child(odd) {
    background-color: olivedrab;
}

ul li.checked {
    transition: 0.5s;
    text-decoration: line-through;

}


.close {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 5px 5px 5px;
}

.close:hover {
    background-color: darkolivegreen;
    color: white;
}

.header {
    background-color: darkolivegreen;
    padding: 20px 50px;
    color: white;
    text-align: center;
    border-radius: 15px;
}

  input {
    margin: 0px 10px;
    border: none;
    border-radius: 10px;
    width: 70%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }

  .addBtn {
    padding: 10px;
    width: 20%;
    background: lightgreen;
    color: darkolivegreen;
    float: left;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .addBtn:hover {
    background-color: #bbb;
  }
  